.hero {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    z-index: -1;
}

.hero-content {
    background-image: url("../resources/line.jpg");
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0; 
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 10%;

    flex: 1; 
        
}

.hero-img {
    width: 50%;
    height: auto;
    display: flex;
    margin-right: 0%;
    margin-left: 50%;
    z-index: -1;
    position: absolute;
}

.btn {
    background-color: #f4b400;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
}